{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block title %}Signin{% endblock %}</title>
</head>
<body>
<style>
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
</style>
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post" action="{% url 'login:signup' %}">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" name="email" id="email" class="form-control form-control-lg"
                placeholder="Enter a valid email address" value="{{ form.email.value|default_if_none:'' }}"/>
              <label class="form-label" for="email">Email 주소</label>
            </div>


            <div class="form-outline mb-3">
              <input type="text" name="nickname" id="nickname" class="form-control form-control-lg"
                     placeholder="Enter username" value="{{ form.nickname.value|default_if_none:'' }}">
              <label class="form-label" for="nickname">사용자 명</label>
            </div>


            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password1" name="password1" id="password1" class="form-control form-control-lg"
                placeholder="Enter password" value="{{ form.password1.value|default_if_none:'' }}"/>
              <label class="form-label" for="password1">비밀번호</label>
            </div>

            <div class="form-outline mb-3">
              <input type="password2" name="password2" id="password2" class="form-control form-control-lg"
                placeholder="Confirm password" value="{{ form.password2.value|default_if_none:'' }}"/>
              <label class="form-label" for="password2">비밀번호 확인</label>
            </div>

            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">가입</button>
              <button type="submit" class="btn btn-primary btn-lg" formaction="{% url 'login:cancel' %}">취소</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2023. All rights reserved.
      </div>
    </div>
  </section>
</body>
</html>
